#chess-board{
  width: 100vw;
  height: 100vh;
  background: #a6a6a6;
  position: relative;
}

.square {
  width: 12.3vw;
  height: 12.3vw;
  float: left;
}

.dark{
  background-color: #909090;
}

.light{
  background-color: #a6a6a6;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

body{
  background-color: #a6a6a6;
  font-family: "Gill Sans";

}

h1{
  font-size: 121px;
  line-height: 0px;
  text-align: center;
}

h2{
  font-size: 42px;
  text-align: left;
  font-weight: 500;
}

.gum{
  font-size: 48px;
  text-align: left;
  line-height: 50px;
  font-weight: 500;
}

img{
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  width: 10vw;
  height: auto;
  padding: 15px;
  vertical-align: center;
}

.container .blackbtn{
  display: block;
  width: 12.3vw;
  height: 12.3vw;
  float: left;
  background-color: #a6a6a6;
  color: #000;
  font-size: 28px;
  padding: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  position: relative;
  top: -35px;
}

.container .blackbtn:hover {
  background-color: #000;
  transition-duration: 0.6s;
  color: #a6a6a6;
}

.container .whitebtn{
  display: block;
  width: 12.3vw;
  height: 12.3vw;
  background-color: #909090;
  color: #fff;
  font-size: 28px;
  padding: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
  position: relative;
  top: -35px;
}

.container .whitebtn:hover {
  background-color: #fff;
  transition-duration: 0.3s;
  color: #909090;
  transition-timing-function: ease-in;
}
